<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Playground</title>
    </head>
    <body>
        <h1>Playground</h1>
        <div id="app">

            <h1>Counter</h1>
            <p>{{ count }}</p>
            <h1> {{ incrementAmount }} </h1>
            <button v-on:click="incrementCount">Increment count</button>
            <div>
                <label for="incrementAmount">Increment by: </label>
                <input type="number" 
                v-model="incrementAmount"
                v-bind:value="incrementAmount"/>
            </div>

            <hr/>

           <p v-if="message.length % 2 === 0"> Even: {{ message.toUpperCase() }} </p>
           <p v-else> Odd: {{ message }} </p>    
           <ul>
                <li v-for="number in listOfNumbers">
                    {{ number * Math.random()}}
                </li>
           </ul>      

        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const { createApp } = Vue



            const app = createApp({
                data() {
                    return {
                        count: 10,
                        incrementAmount:1,
                        message: 'Hola',
                        listOfNumbers: [1,2,3,4,5]
                    }
                },
                methods:{
                    incrementCount() {
                        this.count += this.incrementAmount
                    },
                }
            })
            app.mount('#app')
        </script>
    </body>
</html>